{# View de la création d'un Article de News#}

{% extends 'base.html.twig' %}

{% block stylesheets %}
<link rel="stylesheet" href="/css/news/adminform.css">
{% endblock %}

{% form_theme formArticle 'bootstrap_4_layout.html.twig' %}

{% block body %}
    <div    class="formulaire">
    {{form_start(formArticle)}}

    {{ form_row(formArticle.titre, {'attr': {'placeholder':"Titre"}} )}}
    {{ form_row(formArticle.contenu, {'attr': {'placeholder':"Ecrivez un Article", 'rows':"8"}} )}}
    {{ form_row(formArticle.image) }}

    <button type="submit" class="btn-sucess">Envoyer</button>

    {{form_end(formArticle)}}
    </div>

{% endblock %}