{% block stylesheets %}
<link rel="stylesheet" href="/css/news/displaynews.css">
<link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css" rel="stylesheet"  type='text/css'>
{% endblock %}

{% block body %}
    <body>
    
        <section class="article_news_container">

        {% if is_granted('ROLE_ADMIN') %}
            <div class="add_theme_container">
                <a class="add_theme" href="{{path('add_news')}}">
                AJOUTER NEWS </br>
                <img class="add_plus" src="/images/add_plus.png" alt="">
                </a>
            </div>
        {% endif %}

        {% for article in articlenewspage %}
      
            <article class="article_news">
            <img class="image_news" src="http://placehold.it/350x200" alt="">
                <div class="contenu_news">
                    <div class="titre_news_container">
                        <h2 class="titre_news"> {{article.titre}}</h2>
                        <div class="metadata">Posté le : {{article.dateCreation | date('d/m/Y')}} </div>
                    </div>  
                    <a class="btn_normal" href="{{path('show_news', {'id':article.id})}}"> En savoir plus</a>
                </div>
            </article>

        {% endfor %}

        {#Pagination des News#}
        <div class="pagination">
                {{knp_pagination_render(articlenewspage)}}
        </div>
        
        </section>

    </body>
{% endblock %}
 
