{% extends 'base.html.twig' %}

{% block stylesheets %}

<link rel="stylesheet" href="/css/news/displaynews.css">
<link rel="stylesheet" href="/css/coloriage/displaycoloriage.css">

{% endblock %}

{% block body %}

<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- HeaderAd -->
        <ins class="adsbygoogle"
            style="display:block"
            data-ad-client="ca-pub-7304478402224378"
            data-ad-slot="8698432038"
            data-ad-format="auto"
            data-full-width-responsive="true"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>

<section class="article_news_container">

    {% if is_granted('ROLE_ADMIN') %}
    <div class="add_theme_container">
        <a class="add_coloriage" href="{{path('add_coloriage')}}">Ajouter Coloriage</a>
    </div>
    {% endif %}

    <h1>Clique sur une image pour la télécharger</h1>

    {% for coloriage in coloriagespage %}

    <article class="coloriage">
    <a href="/pdf/{{coloriage.path}}" download="{{coloriage.pdfname}}">
        <img class="image_coloriage" src="/images/coloriage/{{coloriage.image}}" alt=""/>
        <div class="nom_coloriage">{{coloriage.nom}}</div>
    </a>
    </article>

    {% endfor %}

    <div class="espace"></div>
    <div class="paginator">
            {{knp_pagination_render(coloriagespage)}} 
    </div>
    </section>

{% endblock %}
