{# View du formulaire d'Inscription #}

{% extends 'base.html.twig' %}

{% block stylesheets %}<link rel="stylesheet" href="/css/formulaire.css">{% endblock %}

{% block body %}

{{ form_start(form) }}
<div class="formulaire">
{{ form_row(form.email, {'label':'Adresse Email'}) }}
{{ form_row(form.username, {'label':'Nom d\'Utilisateur'}) }}
{{ form_row(form.password, {'label':'Mot de Passe'}) }}
{{ form_row(form.confirm_password, {'label':'Confirmation Mot de Passe'}) }}
{{ form_row(form.newsletter) }}
<div>
<div class="form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1" required>
    <label class="form-check-label" for="exampleCheck1">En cochant cette case je certifie avoir lu et accepté les 
    <a class="cgu_link" target="_blank" href="{{path('cgu')}}">CGU</a>
    </label>
</div>

    <button  type="submit" class="btn-sucess">Inscription</button>
{{ form_end(form) }}

{% endblock %}